* {
  margin: 0;
  padding: 0;
  font-family: "Roboto" !important;
}

:root {
  --main-bg-color: #19232e;
  /* --light-white: rgba(242, 244, 246, 0.9); */
  --light-white: #fff;
}

.bg {
  background-color: var(--main-bg-color);
}

.header {
  padding: 20px 50px;
}

.App-logo {
  width: 112px;
  height: 40px;
  padding: 2px;
  position: relative;
  top: 2px;
  background-position: left 0;
}

.light-white {
  color: var(--light-white);
}

.navs {
  padding: 0 16px;
}

.nav-item {
  font-size: 17px;
  margin: 8px !important;
  font-weight: lighter;
}

.search-box {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxjaXJjbGUgaWQ9ImEiIGN4PSI4IiBjeT0iOCIgcj0iOCIvPjxtYXNrIGlkPSJiIiBtYXNrQ29udGVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgbWFza1VuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeD0iMCIgeT0iMCIgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiBmaWxsPSIjZmZmIj48dXNlIHhsaW5rOmhyZWY9IiNhIi8+PC9tYXNrPjwvZGVmcz48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii43Ij48dXNlIHN0cm9rZT0iI0ZGRiIgbWFzaz0idXJsKCNiKSIgc3Ryb2tlLXdpZHRoPSI0IiB4bGluazpocmVmPSIjYSIvPjxwYXRoIGQ9Ik0xMy40MTQgMTFsNi4zNjcgNi4zNjdhLjk5NS45OTUgMCAwMS0uMDAzIDEuNDExYy0uMzkuMzktMS4wMy4zODUtMS40MS4wMDNMMTIgMTIuNDE0IDEzLjQxNCAxMXoiIGZpbGw9IiNGRkYiLz48L2c+PC9zdmc+);
  -webkit-appearance: none;
  background-position: 7px 9px;
  color: #8197a4;
  width: 250px;
  cursor: pointer;
  border: 1px solid rgba(129, 151, 164, 0.5);
  background-color: rgba(15, 23, 30, 0.2);
  background-repeat: no-repeat;
  font-size: 17px;
  line-height: 24px;
  padding: 7px 34px;
  box-shadow: none;
  float: right;
  margin: 0;
  pointer-events: all;
  height: auto;
}

.avatar {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 15px;
}

.avatar-name {
  display: block;
  max-width: 120px;
  color: rgba(242, 244, 246, 0.7);
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 7px;
}

.avatar-name::before {
  content: "";
  position: absolute;
  top: 4.6%;
  right: 2.5%;
  display: block;
  height: 0;
  width: 0;
  border-top: 4.3px solid #8197a4;
  border-right: 4.3px solid transparent;
  border-left: 4.3px solid transparent;
}
